body {
  background-color: lightgray;
}

.App {
  background-color: darkgray;
}

.right-of-nav {
  display: inline-block;
  vertical-align: top;
  background-color: lightblue;
  height: 100vh;
  width: 80vw;
}
